a {
  color: inherit;
}

#play-list {
    display: flex;
    justify-content: space-between;
	padding-inline: 1em;
}

#play-list button{
  width: 20em;
  height: 5em;

  max-width: 100%;
  padding: 14px 22px;

  background-color: #2a2a2a;
  color: #FFD700;
  border: 3px solid #FFD700;
  border-radius: 16px;
  box-sizing: border-box;


  cursor: pointer;
  line-height: 28px;

  box-shadow: 0px -6px 40px 5px #00000085;
  border-bottom: 5px solid rgb(75 70 41);
}

.categories {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.category-card {
  background-color: #2a2a2a;
  border: 2px solid #4a4a6a;
  border-radius: 8px;
  margin: 1%;
  position: relative;
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
  width: 220px;
  padding: 15px;
  display: block;
  align-items: center;
}
.category-card:hover {
  background-color: #4a4a6a;
  border-color: #4a4a6a;
}
.category-card h3 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1em;
  text-align: center;
}
.category-card span {
	color: #d0d0d0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.category-card img {
  width: 100%;
  object-fit: contain;
}
.category-card video {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
}

@media (max-width: 768px) {

	#play-list{
        display: flex;
        width: -webkit-fill-available;
        position: fixed;
        top: 80%;
		z-index: 998;
	}

	#play-list button{
		width: 30%;
		background-color: #2a2a2aa6;
	}
  .category-card img {
    height: auto;
  }
}
