* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}


.categories-container {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
  padding: 20px;
}

/* chat zbt */
.category-card {
  background-color: #2a1f3c;
  border-radius: 10px;
  text-align: center; 
  width: 220px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* هاد القلوة من البارح كانقلب عليها */
  align-items: center; 
} 

/* حقدت يا زبي */
.category-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-radius: 5px;
}

/* الله يحرق طبونمكم */
.category-card p {
  margin-top: 10px;
  font-size: 1rem;text-align: center;
}

@media (max-width: 768px) {
  .categories-container {
    margin-top: 120px;
  }

  .category-card {
    width: 150px; 
    padding: 10px;
  }

  .category-card img {
    height: auto; 
  }
}

.voting-section p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  padding: 30px;
  text-align: center;
}