@import url('nav.css');
@import url('footer.css');

.settings {
    font-size: 2em;
    color: white;
    padding-right: 1em;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #1a1a1a;
  padding-top: 5.5em;
  margin: 0;
}

p {
  color: #d0d0d0;
  font-size: 1rem;
  text-align: center;
  flex-grow: 1;
  text-align: center;
}

h1 , h2{
  padding-top: 1em;
  color: #ffd700;
  margin: 0;
  text-align: center;
  font-size: 2em;
}


#categories-container {
  max-width: 100%;
  padding: auto 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}


@media (max-width: 768px) {
  nav ul {
    padding: 10px;
    align-items: flex-start;
  }

  nav ul li {
    margin: 5px 0;
    padding: 10px;
  }

  main {
    padding: 10px;
  }

  footer ul li {
    padding: 10px;
  }

  .carousel-dot {
    margin: 0 3px; 
  }
  .carousel-container {
    overflow: hidden;
  }

  .carousel-item {
    min-width: 100%; 
  }

  .carousel-dot {
    margin: 0 3px; 
  }
}

@media (max-width: 480px) {
  
  nav{
    padding: 15px;
  }
  nav .left{
    gap: 0;
  }
  nav .right img{
    padding-right: 10px;
  }

  .carousel-container {
    overflow: hidden;
    white-space: nowrap;
  }

  .carousel-item {
    display: inline-block;
    width: 100%;
    min-width: 100% !important;
    box-sizing: border-box;
  }

  .carousel-dot {
    margin: 0 2px; 
  }
}

html,body {
  overflow-x: hidden;
  width: 100%;
}

